<%= form_for(@article, :html => {:class => "form-horizontal center"}) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <br>
  <br>
  <br>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">
    <h4><%= f.label :category_id, "分類", class: "control-label col-md-3" %></h4>
    <div class="col-md-6">
      <%= f.select :category_id, Category.all.collect { |c| [ c.name, c.id] }, include_blank: false, prompt: "請選類別", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <h4><%= f.label :title, "文章標題", class: "control-label col-md-3" %></h4>
    <div class="col-md-6">
      <%= f.text_field :title , class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <h4><%= f.label :content, "文章內容", class: "control-label col-md-3" %></h4>
    <div class="col-md-6">
      <%= f.text_area :content , class: "form-control", rows: "10" %>
    </div>
  </div>
  <div class="actions">
      <%= f.submit '確定送出' , class: "btn btn-default btn-primary col-md-offset-3" %>
  </div>
  </p>
<% end %>
