<div class="col-md-6 col-md-offset-2">
<p id="notice"><%= notice %></p>
<% provide(:title, @article.title) %>


<p>
  <h4><%= @article.title %></h4>
</p>

<p>
  <h6><small>
    作者 <%= @article.user.name %>
  </small></h6>
</p>

<p>
  <%= @article.content %>
</p>

<p>
</p>
<%= link_to "修改", edit_article_path(@article) %>

<h3>留言</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.name %></strong>
    <br />
    <p><%= comment.content %></p>
  </div>
<% end %>
<%= paginate @comments %>
<%= render "comments/form" %>

<%= link_to "回到所有文章", articles_path, class: "btn" %>
</div>